/**
* @name Obsidian
* @version 2.0.1
* @description Obsidian Discord Theme.
* @author ᛗᛁᛗᛁᚱ
* @authorId 106097290640363520
* @invite t2c
* @website http://github.com/MIMIR-GXP
* @source https://github.com/MIMIR-GXP/Obsidian
*/

/*Import Obsidian Main */
@import url("https://mimir-gxp.github.io/Obsidian/css/main-2.0.1.css");
@import url("https://mimir-gxp.github.io/Obsidian/css/MacTitleBar.css");

:root {

    /* +++++++++++++++++++++++++++++  SETTINGS +++++++++++++++++++++++++++++  */

        /* ++++++++++++++ BACKGROUND & BLUR & BRIGHTNESS ++++++++++++++ */
        
            /* MAIN BACKGROUND */
            --background-image: url('https://i.imgur.com/kYW2H5C.jpg');
            --background-image-blur: 40px;
            --background-image-size: cover;
            --background-image-position: center;

            /* POPOUT MODAL */
            --popout-modal-image: url('https://i.imgur.com/kYW2H5C.jpg');
            --popout-modal-blur: 100px;
            --popout-modal-size: cover;
            --popout-modal-position: center;

            /* HOME BUTTON */
            --home-button-image: url('https://i.imgur.com/JrREWjJ.png');
            --home-button-size: 52px;
            --home-button-position: center;

            /* BRIGHTNESS */
            --middle-brightness: 0.6;
            --right-brightness: 0;
            --left-brightness: 0.6;

            --serverlist-brightness: 0.6;
            --popout-modal-brightness: 0.7;

        /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


        /* +++++++++++++++++++++++++ APP SIZE +++++++++++++++++++++++++ */

            --window-padding: 25px;
            --window-roundness: 20px;
            
        /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

        /* +++++++++++++++++++++++++ SERVER WIDTH +++++++++++++++++++++ */

            --server-width: 350px;
            --server-banner-top-spacing: 160px;
                
        /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

        /* ++++++++++++++++++++++ COLORS & FONT +++++++++++++++++++++++ */
        /* USING RGB COLOR CODE https://htmlcolorcodes.com */

            /* MAIN COLOR THEME */
            --background-obsidian: #0c111c;

            --gradient-primary: rgb(62, 50, 173);
            --gradient-secondary: rgb(89, 63, 218);
            --gradient-direction: 260deg;

            /*ALERT COLOR*/
            --gradient-primary-alert: rgb(223, 45, 74);
            --gradient-secondary-alert: rgb(235, 65, 102);
            --gradient-direction-alert: 260deg;

            /*BACKGROUND COLOR OF MENTION MESSAGE*/
            --gradient-primary-opacity: 62, 50, 173;
            --gradient-secondary-opacity: 89, 63, 218;

            /* TINT */
            --tint-colour: 255, 51, 159;
            --tint-brightness: 0;

            /* SCROLL BAR & LINK */
            --scrollbar-colour: #ffffff0d;
            --link-colour: #4A60D6FF;

            /* FONT */
            --font: 'Whitney';
            --font-code: 'Whitney';

        /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


        /* +++++++++++++++++ HORIZONTAL SERVER LIST +++++++++++++++++++ */

            --HSL-server-icon-size: 40px;
            --HSL-server-spacing: 8px;

        /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

        /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

        /*  --update-notice: none;  */  /* Remove the comment if you want remove the update message */

        /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
}       
