/**
* @name Obsidian
* @version 5.0
* @description Obsidian Discord Theme.
* @author ᛗᛁᛗᛁᚱ
* @authorId 106097290640363520
* @invite t2c
* @website http://github.com/MIMIR-X
* @source https://github.com/MIMIR-X/Obsidian

*/
@import url("https://mimir-x.github.io/Obsidian/css/source.css");



:root {

    /* +++++++++++++++++++++++++++++  SETTINGS +++++++++++++++++++++++++++++  */

        /* ++++++++++++++ BACKGROUND & BLUR & BRIGHTNESS ++++++++++++++ */
        
            /* MAIN BACKGROUND */
            --background-image: url('https://i.imgur.com/kYW2H5C.jpg');
            --background-image-blur: 40px;
            --background-image-size: cover;
            --background-image-position: center;

            /* POPOUT MODAL */
            --popout-modal-image: url('https://i.imgur.com/kYW2H5C.jpg');
            --popout-modal-blur: 100px;
            --popout-modal-size: cover;
            --popout-modal-position: center;

            /* HOME BUTTON */
            --home-button-image: url('https://i.imgur.com/JrREWjJ.png');
            --home-button-size: 52px;
            --home-button-position: center;

            /* BRIGHTNESS */
            --middle-brightness: 0.6;
            --right-brightness: 0;
            --left-brightness: 0.6;

            --serverlist-brightness: 0.6;
            --popout-modal-brightness: 0.7;

        /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


        /* +++++++++++++++++++++++++ APP SIZE +++++++++++++++++++++++++ */

            --window-padding: 25px;
            --window-roundness: 20px;
            
        /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

        /* ++++++++++++++++++++++ COLORS & FONT +++++++++++++++++++++++ */
        /* USING RGB COLOR CODE https://htmlcolorcodes.com */

            /* MAIN COLOR THEME */
            --gradient-primary: 64, 27, 193; 
            --gradient-secondary: 63, 81, 181;
            --gradient-direction: 260deg;

            /* TINT */
            --tint-colour: 255, 51, 159;
            --tint-brightness: 0;

            /* SCROLL BAR & LINK */
            --scrollbar-colour: #ffffff0d;
            --link-colour: #4A60D6FF;

            /* FONT */
            --font: 'Whitney';

        /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


        /* +++++++++++++++++ HORIZONTAL SERVER LIST +++++++++++++++++++ */

            --HSL-server-icon-size: 40px;
            --HSL-server-spacing: 8px;

        /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

}